<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}WELCOME{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>
<body>
    <header>
     
        <nav>
            <ul>
                <li>
                       <div class="logo">
            <!-- Logo image with the slogan -->
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Barfoo Logo" class="logo-image">
        </div>
    </li>
                <li><a href="{{ url_for('home') }}">Home Page</a></li>  <!-- Home Route -->

                {% if session.get('user') %}
                    <!-- Show "Logout" link if user is logged in -->
                    <li><a href="{{ url_for('auth.logout') }}">Log out</a></li>  <!-- Logout Route -->
                    <li><span style="color: red;">Hello, {{ session['user'] }}!</span></li>
                {% else %}
                    <!-- Show "Register" and "Login" links if user is not logged in -->
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>  <!-- Register Route -->
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>  <!-- Login Route -->
                {% endif %}

                <!-- Show "Products" link for all users -->
                <li><a href="{{ url_for('product.products') }}">Products</a></li>  <!-- Products Route -->

                {% if session.get('is_admin') %}
                    <!-- Show admin-only links if user is an admin -->
                    <li><a href="{{ url_for('product.add_product') }}">Add Product</a></li>  <!-- Add Product Route -->
                    <li><a href="{{ url_for('user.users') }}">View Users</a></li>  <!-- View Users Route -->
                    <li><a href="{{ url_for('order.admin_orders') }}">Admin Orders</a></li> <!-- Admin Orders Route -->
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>2024 Our Store. All rights reserved</p>
    </footer>
</body>
</html>
